extends layout

block content
  main.main-content
    section#hero
      img#avo(src="images/avocado.png", alt="avocado", srcset="")
      
      br

      h1 #[span.the-the #[img(src="images/the.svg", alt="The")]]Quarter-Life Crisis Hotline

      a(href="tel:1-812-487-3463")
        figure#hotline-container 
          img.hotline.text(src="images/hotline-text.svg", alt="(812) ITS-FINE")
          img.hotline.number(src="images/hotline-number.svg", alt="(812) 487-3463")

    footer
      a(href='/suggest')
        h2 Submit a suggestion

      a(href='/about')
        h2 What is this?
      
      a(href='/resources')
        h2 Get real help

      a(href='https://www.patreon.com/nickcrawford', target="_blank")
        h2 Become a Patron