extends layout

block content 
  main.main-content
    article 
      h1 Resources
      
      p This project was made as a joke, but mental health is a serious topic. If you're feeling lost or anxious, it's okay.
      p Here are some real resources that I've found have helped me. Maybe they can help you too <3
      p - Nick 

      hr

      ul
        li 
          a(href="https://headway.co/") Headway.co - Find a therapist with your insurance
        li 
          a(href="https://medium.com/@kwalek/the-5-stages-of-a-quarter-life-crisis-65e8ae7f1486") The 5 Stages of a Quarter-Life Crisis
        li 
          a(href="https://www.forbes.com/sites/cameronkeng/2014/06/22/employees-that-stay-in-companies-longer-than-2-years-get-paid-50-less/?sh=576a0721e07f") Employees Who Stay In Companies Longer Than Two Years Get Paid 50% Less
        li 
          a(href="https://www.youtube.com/watch?v=ddek3gQVt9Y") TEDx - Refusing to Settle: The Quarter-Life Crisis 
        li 
          a(href="https://twitter.com/messages/compose?recipient_id=904560539728314368",
                  target="_blank") DM me on Twitter if you ever need to talk :)
        