extends layout

block content 
  main.main-content
    h1 Have a suggestion for the Hotline?
    h2 Leave it below!
    iframe#suggest-form(src="https://chilipepper.io/form/extrahot-orangered-bellpepper-644a975c-c0ca-4f7f-9808-73885d3891f8", frameborder="0", allowtransparency = "true") 