@font-face{ 
	font-family: 'Paralucent Text';
	src: url('fonts/ParalucentText-BookItalic.ttf.ttf') format('truetype'),
}

* {
  box-sizing: border-box;
}

body {
  font: 14px "Paralucent Text", Helvetica, Arial, sans-serif;
  font-style: italic;

  background-color: #222223;

  color: #FCF1C0;
}

a {
  color: #BDCF5A;
  text-decoration: underline wavy;
  text-decoration-thickness: from-font;
  text-decoration-skip-ink: none;
  text-decoration-skip: none;
}


#avo {
  width: 25vw;
  max-width: 400px;
  min-width: 200px;

  height: auto;

  
  transform: rotate(0deg);

  cursor: pointer;
  clip-path: circle(60%);
  opacity: 0.95;
}

#avo:hover {
  transform: rotate(36000deg);
  transition: transform 60s linear;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  
  text-align: center;

  padding: 1rem;

  min-height: calc(100vh - 2rem);
}


h1 {
  font-size: calc(2vw + 1.25rem);
  text-transform: uppercase;
  
  position: relative;
  display: inline-block;

  margin: 0.5em auto;

  /* text-align: left; */
}

h2 {
  font-size: 1rem;
  text-transform: uppercase;

  /* text-align: left; */
}

.the-the {
  display: block;
  width: 2.5rem;
  height: auto;
  margin: 0 auto;

  transform-origin: center center;
  transform: translate(-0.25rem, 0rem);
}

@media screen and (min-width: 768px) {

  /* h1, h2 { text-align: center; } */

  .the-the {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 3rem;
    height: auto;

    transform: rotate(-15deg) translate(-1.5rem, 0.5rem);
  }
}



/* #hotline-container {
  margin-bottom: 1rem;
} */

.hotline {
  display: block;
  height: 15vh;
  width: 95vw;

  max-width: 100%;
  max-height: 6rem;

  object-fit: contain;
}

#hotline-container .hotline.number {
  display: none;
}

#hotline-container:hover .hotline.text {
  display: none;
}

#hotline-container:hover .hotline.number {
  display: block;
}



#suggest-form {
  width: 100%;
  max-width: 30rem;

  height: 40vh;
  max-height: 40rem;
  margin: 2rem auto 0;

  padding: 0.75rem 0.5rem;
  background: white;
}

footer {
  display: flex;
  flex-direction: row;
  
  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(375px, max-content));
  column-gap: 0.5rem;

  align-items: center;
  justify-content: center;

  padding-top: 2rem;
}

footer a, footer h2 {
  display: block;
  width: auto;
}

article {
  font-size: 18px;
  line-height: 2;
  max-width: 40em;

  margin: 0 auto;

  text-align: left;
}